.ImgTextTag {
  display: flex;
  padding: 8px;
  width: max-content;
  border: 1px #e8e8e8 solid;
  border-radius: 8px;
  align-items: center;
  gap: 8px;
}

.ImgTextTag img {
  display: block;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}
